<!DOCTYPE html>
<html>
<head>
	<title>Join a Committee</title>
</head>
<body>
<!-- This is the committee sign up form -->

<h1>Join a Committee!</h1>
<p>As a YPC member, you are expected to actively participate on at least one of our five committees. Descriptions of each committee are listed below.</p>

<h2>Treasury Committee</h2>
<p>Responsible for the management of all YPC funds: donations, membership dues, in-kind donations, event expenditures and YPC operations. Works directly with VMC Foundation finance department.</p>

<h2>Membership Committee</h2>
<p>Responsible for outreach and driving new membership. Keeps members engaged via updates of news at the SCVMC, notification of
upcoming YPC events and management of social media accounts. Collaborates closely with the Events and Volunteer Committees to ensure successful social, volunteer, and year-end gala events.</p>

<h2>Events Committee</h2>
<p>Responsible for all YPC event planning, management and operations. Oversees entire process of putting on: quarterly YPC social events, year-end gala (2017) and summer event (2018).</p>

<h2>Corporate Development & Partnerships Committee</h2>
<p>Responsible for developing and managing major donor relationships. This will include outreach to local Silicon Valley businesses, influential individuals and other Non-Profit Organizations. In addition, this committee will be in charge of developing relationships and partnerships with local government agencies in the public healthcare space as well as other local social, networking and business groups.</p>

<h2>Volunteer Committee</h2>
<p>Organizes volunteer schedule for membership and puts on all volunteer events for the YPC. Works closely with the VMC Foundation to collaborate on shared volunteer events as well as to identify specific areas of volunteer need for the hospital.</p>

<h2>Sign Up for a Committee</h2>
<p>Please check your preferred committee(s):</p>
<form>
<!-- need to add name from session -->
<input type="hidden" name="name" value="NameFromSession">
<label><input type="checkbox" value="treasury">Treasury</label><br>
<label><input type="checkbox" value="membership">Membership</label><br>
<label><input type="checkbox" value="events">Events</label><br>

<label><input type="checkbox" value="corporate">Corporate Development & Partnerships</label><br>
<label><input type="checkbox" value="volunteer">Volunteer</label><br><br>

<input type="submit" value="Submit">
</form>

</body>
</html>