<!DOCTYPE html>
<html>
<head>
	<title>Create a New Blog Post</title>
</head>
<body>

<h1>Create a New Blog Post</h1>
<ul>
	<li><a href="/admin">Go Back</a></li>
	<li><a href="/logout">Sign Out</a></li>
</ul>

<form action="/posts" method="POST">
	<label>Enter Blog Post Title</label><br><br>
	<input type="text" name="title"><br><br>
	<label>Enter Blog Post Text</label><br><br>
	<textarea rows="10" cols="100" name="text"></textarea><br><br>
	
	<input type="submit" value="Post">
</form><br><br>
<a href="/admin"><button>Go Back</button></a>

</body>
</html>