<!DOCTYPE html>
<html>
<head>
	<title>Delete <%= post.title %>?</title>
</head>
<body>

<!-- 

	to do list
	
	-route for delete
	-check populated fields
	-confirm links

 -->

<h1>Are you sure you want to delete <%= post.title %>?</h1>
<ul>
	<li><a href="/admin">Go Back</a></li>
	<li><a href="/admin">Sign Out</a></li>
</ul>
<h2><%= post.title %></h2>
<p><%= post.text %></p>

<a href="/admin"><button>Go Back</button></a>
<a href="/admin"><button>Delete</button></a>

</body>
</html>