<nav class="fh5co-nav" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 text-left">
				<div id="fh5co-logo"><a href="/"><img src="images/logo/YPCLogo.png" width="300px"></a></div>
			</div>
			<div class="col-xs-10 text-right menu-1">
				<ul id="nav_links">
					<li id="_link"><a href="/">Home</a></li>
					<li id="executives_link"><a href="/executives">Executives</a></li>
					<li id="events_link"><a href="/events">Events</a></li>
					<li id="registration_link"><a href="/registration">Join</a></li>
					<li id="blog_link"><a href="/blog">Blog</a></li>
					<li id="contact_link"><a href="/contact">Contact</a></li>
					<li id="login_link"><a href="/login" class="btn btn-primary"></a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>