<!DOCTYPE html>
<html>
<head>
	<title>Create a New Blog Post</title>
</head>
<body>

<!-- 

	to do list

	-route for create
	-confirm links

 -->

<h1>Create a New Blog Post</h1>
<ul>
	<li><a href="../admin.html">Go Back</a></li>
	<li><a href="../index.html">Sign Out</a></li>
</ul>

<form action="" method="POST">
	<label>Blog Post Title</label><br><br>
	<input type="text" name="title"><br><br>
	<label>Blog Post Text</label><br><br>
	<textarea rows="10" cols="100" name="text"></textarea><br><br>
	<a href="../admin.html"><button>Go Back</button></a>
	<input type="submit" value="Post">
</form>


</body>
</html>